<?php

! defined ( 'BASE_PATH' ) && exit ();


define ( 'BASE_URL', 'http://t2o.loc');		//设置Tw2other所在的URL
define ( 'TMPDIR'  , 'tmp' );				//请设置为一个别人无法访问到的目录，确认此目录存在并且可写下面应该有locks和logs这2个目录，同时请确认这2目录都可写
define ( 'ENCRYPT_SECRET', '01234567' );	//加密串，请更改为更复杂的随机字符串,长度为8的倍数，推荐16位长度


/**
 * 同步等级
 * 
 * 0 不过滤
 * 1 过滤回复别人的tweet
 * 2  过滤不加评论的RT别人的推	
 * 3 只同步自己的tweet,推中不包含RT,@字样	
 * 4 所有的推都不同步（设置为此的时候，只有当推中出现了你设置的tagToSync标签时候才会同步 ）
 */
$cfg_twitter ['level']      = 0;	
$cfg_twitter ['tagToSync']  = '#sync';		//如果出现此标签，强制同步
$cfg_twitter ['tagNotSync'] = '#nsync';		//如果出现此标签，强制不同步	
$cfg_twitter ['key'] 	   	= '';
$cfg_twitter ['secret']		= '';
$cfg_twitter ['interval']   = 50;


$cfg_sina['key']			= '';
$cfg_sina['secret'] 		= '';
$cfg_sina['specialTag']		= '#nsna';		//出现此标签，不同步到新浪

$cfg_tencent['key']			= '';
$cfg_tencent['secret']		= '';
$cfg_tencent['specialTag']	= '#nqq';		//出现此标签，不同步到腾讯

$cfg_renren['key']			= '';
$cfg_renren['secret']		= '';
$cfg_renren['specialTag']	= '#nren';		//出现此标签，不同步到人人

$cfg_douban['key']			= '';
$cfg_douban['secret']		= '';
$cfg_douban['specialTag']	= '#ndb';		//出现此标签，不同步到豆瓣


$cfg_fanfou['key']			= '';
$cfg_fanfou['secret']		= '';
$cfg_fanfou['specialTag']	= '#nff';		//出现此标签，不同步到饭否